.loading-1 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-top: 10px solid #000;
    border-left: 10px solid #000;
    border-right: 10px solid #000;
    animation: spin 500ms infinite linear;

}

@keyframes spin {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

/* Right to left Loading */
.loading-2 {
    width: 200px;
    height: 30px;
    border: 3px solid #000;
}

.indicator {
    height: 30px;
    background-color: #000;
    animation: 3s;
}

@keyframes load {

    0% {
        width: 0%;
    }

    70% {
        width: 20%;
    }

    100% {
        width: 100%;
    }

}
